._wrapper {
    background-color: transparent;
    display: block !important;
    &.dark {
        background-color: black
    }
    &.dark-blue {
        background-color: var(--theme-dark-blue);
    }
    &.middle-blue {
        background-color: var(--theme-middle-blue);
    }
    &.blue {
        background-color: var(--theme-blue);
    }
    &.lite-violet {
        background-color: var(--theme-lite-violet);
    }
    &.lite-brown {
        background-color: var(--theme-lite-browm);
    }
    &.beige {
        background-color: var(--theme-beige);
    }
}
// ._container.flex {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     position: relative;
//     @for $i from 1 through 5 {
//         &.gg-#{$i} {
//             gap: #{$i}rem;
//         }
//     }
//     &.col{
//         flex-direction: column;
//     }
//     &.jc-start {
//         justify-content: start;
//     }
//     &.jc-center {
//         justify-content: center;
//     }
//     &.jc-end {
//         justify-content: end;
//     }
//     &.jc-around {
//         justify-content: space-around;
//     }
// }

// ._container.grid {
//     display: grid;
//     @for $i from 1 through 5 {
//         &.gg-#{$i} {
//             gap: #{$i}rem;
//         }
//     }
//     @for $i from 1 through 4 {
//         &.gtc-#{$i} {
//             grid-template-columns: repeat(#{$i}, 1fr);
//         }
//     }
    
//     @for $i from 1 through 4 {
//         &.gtr-#{$i} {
//             grid-template-rows: repeat(#{$i}, 1fr);
//         }
//     }
// }
  
// @media (min-width: 768px) and (max-width: 1024px) {
//     ._container.grid {
//         @for $i from 2 through 3 {
//             &.gtc-#{$i} {
//                 grid-template-columns: repeat(#{$i - 1}, 1fr);
//             }
//         }
//     }
// }

// @media(max-width: 445px) {
//     ._container.flex {
//         flex-direction: column;
//     }
// }

// @media(min-width: 128px) and (max-width: 768px) {
//     ._container.grid {
//         @for $i from 1 through 3 {
//             &.gtc-#{$i} {
//                 grid-template-columns: 1fr;
//             }
//         }
//     }
// }